
# virtualenv and python stuff
.Python
bin
build
include
lib
lib64
local
pyvenv.cfg
.venv
pip-selfcheck.json
__pycache__
*.egg-info

# ignore the database and log files
*.db
*.log

# ignore your api tokens and secrets
secrets
secrets.py

# django stuff
static
