[Unit]
Description=crossbot
Documentation=https://github.com/mwillsey/crossbot
After=network.target

[Service]
Type=forking
Environment="DJANGO_DEBUG=0"
Environment="CROSSBOT_PRODUCTION=1"
ExecStart=/usr/bin/make deploy
PIDFile=/tmp/crossbot.pid
WorkingDirectory=/var/www/crossbot

[Install]
WantedBy=multi-user.target
