[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]
flask = "*"
gevent = ">=1.2a1"
matplotlib = "==2.1.0rc1"
pytz = "*"
slackclient = "*"
slackeventsapi = "*"
pystan = "*"
scipy = "*"
requests = "*"

[dev-packages]
# install this project in editable mode so we can import it
"-e ." = {path = ".", editable = true}
