appdirs==1.4.3
cycler==0.10.0
matplotlib==2.0.1
numpy==1.12.1
packaging==16.8
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
requests==2.13.0
six==1.10.0
slackbot==0.4.1
slacker==0.9.42
websocket-client==0.40.0
