astroid==2.0.4
blessings==1.7
certifi==2018.8.13
chardet==3.0.4
curtsies==0.3.0
cycler==0.10.0
defusedxml==0.5.0
Django==2.1.2
greenlet==0.4.14
gunicorn==19.9.0
idna==2.7
isort==4.3.4
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
matplotlib==2.2.3
mccabe==0.6.1
numpy==1.15.0
oauthlib==2.1.0
Pygments==2.2.0
PyJWT==1.6.4
pylint==2.1.1
pylint-django==2.0.2
pylint-plugin-utils==0.4
pyparsing==2.2.0
python-dateutil==2.7.3
python3-openid==3.1.0
pytz==2018.5
requests==2.19.1
requests-oauthlib==1.0.0
six==1.11.0
social-auth-app-django==2.1.0
social-auth-core==1.7.0
typed-ast==1.1.0
typing==3.6.4
urllib3==1.23
wcwidth==0.1.7
wrapt==1.10.11
yapf==0.24.0
